{%extends 'base.html'%}{%block title%}Home -{%endblock%} 
{%block head%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css')}}">

{%endblock%}

{%block body%}

<header>
    <div class="nav__bar">
        <div class="nav__bar--left">
            <a href="{{url_for('views.home')}}">
                <img src="{{ url_for('static',filename='icon/app_name.svg')}}" alt="">
            </a>
            

        </div>

        <div class="nav__bar--center">
            <a href="{{url_for('views.product')}}" class="nav__bar--link">How it works</a>
            <a href="{{url_for('views.pricing')}}" class="nav__bar--link">Pricing</a>
            <a href="{{url_for('views.docs')}}" class="nav__bar--link">Docs</a>
            {%if current_user.is_authenticated%}
            <a href="{{url_for('dashboard.started')}}" class="nav__bar--link">Dashboard</a>
            {%endif%}
            <a href="{{url_for('views.download')}}" class="nav__bar--link">Download<i class='bx bx-down-arrow-alt'></i></a>

        </div>
        <div class="nav__bar--right">
            {%if current_user.is_authenticated%}
            <a href="{{url_for('auth.logout')}}" class="nav__bar--link auth-button">Log out</a>
            {%else%}
            <a href="{{url_for('auth.login')}}" class="nav__bar--link">Login</a>
            <a href="#" class="nav__bar--link auth-button">Sign up</a>
            {%endif%}
        </div>
        <div class="nav__bar--menu">
            <button id='menu-btn-on' onclick='toggleMenu()' class="nav__bar--link menu">
                <i class='bx bx-menu'></i>
            </button>
            <button id='menu-btn-close' onclick='toggleMenu()' class="nav__bar--link menu close">
                <i class='bx bx-x'></i>
            </button>
        </div>
    </div>
    <div class="menu__modal--bg">

        <div class="menu__modal--popup">
        </div>
    </div>
</header>
{%block content%}
{%endblock%}
<footer class="footer">
    <div class="footer__contain">
        <div class="footer__col left">
            <a href="{{url_for('views.product')}}" class="footer__menu">How it works</a>
            <a href="{{url_for('views.pricing')}}" class="footer__menu">Pricing</a>
            <a href="{{url_for('views.docs')}}" class="footer__menu">Docs</a>
            <a href="{{url_for('views.download')}}" class="footer__menu">Download</a>
        </div>
        <div class="footer__col center">
            <h3 style="margin-bottom: 30px;">Stay focused on workding.</h3>
            <a href="{{url_for('views.download')}}" class="white-button">Get started for free</a>
        </div>
        <div class="footer__col right">
            <a href="#" class="footer__menu">Abuse</a>
            <a href="#" class="footer__menu">DPA</a>
            <a href="#" class="footer__menu">Privacy</a>
            <a href="#" class="footer__menu">Security</a>
            <a href="#" class="footer__menu">Terms of service</a>
        </div>
    </div>
    <div class="small-caps">
        <p>© NOTES MESSENGER 2021</p>
    </div>
</footer>



<script src="{{url_for('static',filename='./js/index.js')}}"></script>

{%endblock%}