@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --primary-color : #5E17EB;
    --second--color :#af38a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

html{
    min-height: 100%;

  }
body{
    min-height: 100%;
    font-family: "Poppins";
    
}

.nav__bar {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 16%);
    font-size: 17px;
    background: #fff;
    
}
.nav__bar--left,.nav__bar--right {
    max-height: 70px;
    min-width: 260px;
    display: flex;
}
.nav__bar--left img{
    max-height: 65px;
}
.nav__bar--center {
    max-width: 1100px;
}
.nav__bar--center ,.nav__bar--right,.nav__bar--menu {
    align-items: center;
    padding-bottom: 2px;
    display: flex;
}
.nav__bar--menu  {
    justify-content: center;
    padding: 0;
    display: none;

}
.nav__bar--link.menu {
    margin-right: 0;
    border: none;
    font-size: 50px;
    background:  none;
    color: var(--second--color);
    cursor: pointer;

}
.nav__bar--link.menu:hover {
    border: none;
    color: var(--primary-color);
}
.close {
    display: none;
}
.nav__bar--link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-right: 2rem;
    line-height: 20px;
    margin-top: 6px;
    padding: 5px 0;
    

}
.nav__bar--link.current ,.nav__bar--link:hover{
    border-bottom: 2px solid var(--second--color);
}

.nav__bar--right {
    justify-content: flex-end
}
.nav__bar--link.auth-button {
    padding: 5px 20px;
    border: none;
    border: 2px solid #151429;
    border-radius: 20px;
    margin-right: 0;
}
.nav__bar--link.auth-button:hover {
    background-color: #151429;
    color: #fff;
}


.menu__modal--bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 1;

}
.menu__modal--popup {
    background: #fff;
    width: 400px;
    height: 400px;
    border-radius: 7px;
    margin: 5px auto;
    padding: 40px 65px 65px 65px;
    animation: openModal 0.2s linear;

}
@keyframes openModal {
    from {
        margin-top: -100px;
    }
    to {
        margin-top: 5px;
    }
    
}

.menu__modal--popup .nav__bar--center,.menu__modal--popup .nav__bar--right {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}
.menu__modal--popup .nav__bar--right .nav__bar--link {
    margin-bottom: 30px;
}


.menu__modal--popup .nav__bar--link {
    margin:0 auto;
}
.stop-scrolling {
    position: fixed;
    margin-top: 0;
    width: 100%;
}
.modal__show {
    display: block;
}


.footer {
    min-height: 250px;
    width: 100%;
    background: #1f1e37;
    margin: 0;

    position: absolute;
    
}
.footer__contain {
    justify-content: space-between;
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.footer__col {
    padding-top: 50px;
    width: 33%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}
.footer__col a {
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
}
.footer__col.center {
    text-align: center;
    align-items: center;
}
.footer__col h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.footer .white-button {
    padding: 6px 30px;
    background-color: transparent;
    border-radius: 50px;
    font-size: 18px;
    border: 2px solid #fff;
}

.footer .white-button:hover {
    background-color: #fff;
    color: #000;

}
.center {
    width: 300px;
}
.left ,.right {
    width: 165px;
}

.small-caps p {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}









.home-hero {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    flex-direction: column;
    margin: 150px auto;
}
.home-hero--flexcol2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.home-hero--content,.home-hero--img  {
    width: 50%;
    padding: 0 20px;
}
.home-hero--content h1 {
    font-weight: 700;

}

.home-hero--content h4 {
    margin-top: -7px;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    color: var(--second--color);
    min-height: 100px;

}



.home-hero--img img{
    width: 100%;
}

.partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 5px;
}
.partner i {
    font-size: 30px;
    margin-right: 10px;
}
.partner:hover {
    color: var(--primary-color);
}
.part {
    padding: 0 90px;

}

.cta-button.tiny {
    padding: 7px 25px;
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}
.and-well p {
    font-size: 25px;
    padding: 0 30px;

}
.and-well a {
    color: var(--second--color);
    font-weight: bold;
}






.product__hero{
    padding-top: 125px;
    padding-bottom: 150px;
    background-image: linear-gradient(211deg,#f3f3f3,hsla(0,0%,100%,0) 20%);
}
.my__contain {
    display: flex;
    justify-content: space-evenly;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.product__contain--content ,.product__contain--img {
    width: 46%;
}
.heading {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 70px;
}
.description {
    text-align: justify;
    max-width: 85%;
}

h1 {
    font-size: 53px;
    font-weight: 400;
    margin-top: 0;
    letter-spacing: -1.5px;
    color: black;
}
p ,h4,h3,h2,span,label{
    font-family: "Questrial";

}
p {
    font-size: 19px;
    padding-bottom: 30px;
    line-height: 28px;
    font-style: normal;
}
.cta-button {
    padding: 9px 65px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 20px;
}
.cta-button:hover {
    background-color: #34078d;
}

.steps__section {
    margin-top: 35px;
    padding-top: 0;
    padding-bottom: 20px;
    border-top: 40px solid #fff;
    background-color: #f0f4f6;
}


.steps__content--wrap {
    margin-top: -110px;
    padding-top: 0;
}
.steps__header {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
}
h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}


.steps__flex_card {
    height: 470px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fff;
    width: 33.333%;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}



.steps__flex_card--violet {
    display: flex;
    height: 295px;
    padding-right: 40px;
    padding-left: 40px;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color:#f0e2ff;
}

.steps-description {
    font-size: 17px;
    padding-top: 25px;
    padding-right: 40px;
    padding-left: 40px;
}


.steps-description a{
    text-decoration: none;
    color: var(--primary-color);
    
}

.steps-description a:hover {
    color: var(--second--color);
}

.steps-header-wrap {
    display: flex;
    padding-top: 15px;
    justify-content: flex-start;
    align-items: center;
}
.steps__number--background {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    margin-right :8px
}

.steps__number {
    width: 35px;
    height: 35px;
    background-color: transparent;
    line-height: 34px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.steps-img {
    max-width: 230px;
    padding-top: 50px;
    padding-bottom: 33%;
}
.flex__col--wrap {
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.flex__3--col {
    width: 33.333%;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

.benefits {
    margin-top: 100px;
    margin-bottom: 100px;

}
.benefits-header {
    text-align: center;
    margin: 0;
}
.benefits-wrap {
    padding: 40px;
}
.flex__col--wrap.benefits {
    margin-top: 0;
    margin-bottom: 165px;
    justify-content: flex-start;
    
}
.coral-rule{
    height: 6px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 0;
    border-color: var(--second--color);
    background-color: var(--second--color);
}
h3.benefits-content {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.1;
    line-height: 35px;
}
.benefits-icon-wrap {
    width: 60px;
    height: 80px;
    text-align: center;
}
.benefits-icon-wrap img {
    width: 100%;
}

.cloud-icon {
    height: 100%;    
}
.cloud-icon , .demo-icon,.webhook-icon {
    padding-top: 40%;
}

.features__section {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
    border-top: 40px solid #fff;
    background-color: #f0f4f6;

}
.features-content-wrap {
    margin-top: -110px;
    max-width: 1100px;

    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.features-header {
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    margin-top: -110px;
    margin-bottom: 20px;

}

.features-card {
    margin-bottom: 8px;
    padding: 45px;
    border-radius: 4px;
    background-color: #1f1e37;
}
.features-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

.features-subhead {
    text-align: center;
    color: #fff;
}

.features-col2 {
    display: flex;
    padding: 45px 70px 0;
    justify-content: center;
}
.features-content {
    display: flex;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;

}

.features-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.smoke {
    color: #fff;
    font-size: 16px;
}
.features-title {
    font-size: 22px;
    color: #fff;
}

.code-block-black {
    height: auto;
    padding: 15px;
    background-color: #151429;
    color: #fff;
}
p.code-text {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #dee2e4;
    font-size: 16px;
    line-height: 24px;
}

.questions__contain {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin:100px auto;


}
.question__col {
    width: 50%;
    padding: 0 20px;
}
.question__header {
    line-height: 30px;
}
.question__description {
    margin-top: 10px;
    line-height: 36px;
    font-size: 18px;
}









.card__img {
    width: 50%;
    margin: auto;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__title {
    text-align: center;
    font-weight: bold;
}
.login__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 40px;
}
.title__login {
    width: 50%;
    margin-top: -200px;
}
.app__logo {
    width: 70%;
    height: auto;
}

.title__login h2 {
    margin-left: 5px;
}

.form__login {
    max-width: 450px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form__container .card__img {
    width: 50%;
    margin-top:10px
}
.form__container .card__title {
    font-size: 50px;
}
.form__username ,.form__password,.form__submit {
    text-align: center;
    margin-top: 20px;
}
.form__username input ,.form__password input ,
.form__submit input {
    width: 85%;
    height: 40px;
    margin: auto;
    padding:0 10px;
    border: 2px solid #b5b5b5;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;

}
.form__username input:focus ,.form__password input:focus
{
    border: 2px solid var(--primary-color);
}
.form__submit {
    margin-top: 30px;
}
.form__submit input {
    border: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(175,56,166,1) 60%, rgba(93,9,121,1) 100%);
    
}
/* .form__submit input:hover {
    background: rgb(175,56,166);
} */

.form__submit input:active {
    background: rgb(175,56,166);
}
.social {
    text-align: center;
    margin: 40px 0;
}
.social h4 {
    width: 85%; 
    text-align: center; 
    border-bottom: 1px solid rgb(0, 213, 255); 
    line-height: 0.1em;
    margin: auto;
    color: rgb(0, 213, 255);
 } 
 
.social h4 span { 
    background:#fff; 
    padding:0 10px; 
    text-align: center;
 }
 .social__facebook {
    margin-top: 40px;
    text-align: center;

 }
 .social__facebook a{
    background: #0084FF; 
    display: block;
    width: 85%;
    min-height: 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: auto;
    padding-top: 7px;

 }
 .social__facebook a:hover{
    background: #004b92; 

 }

 .social__facebook a:active{
    background: #0066c5; 

 }


.background__fixed {
    background-color: #2e2d4c;
    background-image: url('/static/icon/download-confetti-2.svg');
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;

}

.download__contain {
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-bottom: 50px;

}
.dl-top {
    margin-bottom: 55px;
}
.dl__head {
    text-align: center;
}
.dl__head p{
    color: rgb(196, 196, 196);
}
.dl__head h1 {
    padding-top: 100px;

    color: #fff;
}
.card__download {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.code__block {
    display: flex;
    justify-content: space-between;
}
.code__block--white {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #f1eff6;
    width: 90%;
}
.dl-top p {
    padding-bottom: 15px;
}
.mon {
    color: var(--second--color);
    font-weight: bold;
    font-size: 19px;
    margin-right: 5px;
}
.letter {
    font-size: 17px;
}
.icon--copy {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    outline: none;
    border: none;
    color: var(--second--color);
    cursor: pointer;
    width: 8%;
}

.icon--copy:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.dl-center {
    border-top: 1px solid #000;
    text-align: center;
    display: flex;
    height: 0;
    justify-content: center;
    align-items: center;
}

.dl-or {
    margin-top:  -2px;
    background: #fff;
    width: 25px;
    height: 25px;
}

.dl-bottom {
    margin-top: 40px;
}
.dl-bottom p {
    margin-bottom: -10px;
}
.chosen-dl {
    display: flex;
    justify-content: space-between;
}
.cbb-dl {
    width:66%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid gray;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.bxl-windows:before {
    font-size: 25px;
    color:#5cdce6;

}
.cbb-text {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cbb-text span {
    margin-left: 5px;
}
.cbb-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid gray ;
    padding: 0 0 0 10px ;
    color: gray;
}
.bx-chevron-down:before {
    font-size: 30px;
    padding: 0;
}

.cbb-dl:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(235, 235, 235, var(--tw-bg-opacity));
}


.button-dl {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.icon-cloud {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.button-dl:hover {
    background: var(--primary-color);
    color: #fff;
}

.dl-top.hai {
    margin-bottom: 0px;
}


















  @media only screen and (max-width: 1100px) {
   .nav__bar--center,.nav__bar--right {
       display: none;
   }
   .nav__bar--menu {
       display: flex;
   }
   .nav__bar {
       max-height: 60px;
   }
 }
 @media only screen and (max-width: 1000px) {
    .my__contain {
        display: block;
        text-align: center;}
    .product__contain--content ,.product__contain--img{
        margin: 0px auto;
    }
    .product__contain--content {
        margin-bottom: 60px;

    }
    .product__contain--img img{
        width: 70%;
    }
    .description {
        max-width: 100%;
    }
    .steps__flex_card {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 90%;
    }
    .steps-img {
        padding-top: 15px;
        width: 33.333%;
    }
    .footer__contain{
        justify-content: center;
    }
  }

@media only screen and (max-width: 932px) {

  .features-col2 {
    padding: 0;
    padding-top:15px;
  }
  .login__form {
      flex-direction: column;

  }

    .form__login {
        max-width: 100%;
        width: 100%;
    }
    .login__form{
        padding: 0 auto;
    }
  .title__login {
      margin-top: 0px;
      margin-bottom: 50px;
      text-align: center;
      width: 100%;
  }
  .card__img img {
     display: none;
  }
}
@media only screen and (max-width: 805px) {

    .product__contain--content ,.product__contain--img{
        width: 90%;
    }
    .description {
        text-align: center;
    }
    .features-col2 {
      padding: 0;
      padding-top:15px;
    }
    .steps-img {
        width: 100%;
    }

    .top-row {
        display: block;
    }
    .home-hero--content,.home-hero--img {
        width: 100%;
        margin: 0  auto;
        padding: 30px;
    }
    .home-hero--content h1{
        font-size: 40px;
    }
    .home-hero--content h4{
        font-size: 30px;
    }
  }

  @media only screen and (max-width: 700px) {

    .benefits {
        display: block;
    }
    .flex__col--wrap.benefits {

        text-align: center;
    }
    .flex__3--col{
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
    .benefits-icon-wrap {
        margin: auto;
    }
    .part {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-hero--flexcol2{
        margin-bottom:70px
    }

    .and-well {
        margin-top: 50px;
        padding: 0 30px;
        text-align: center;
    }
  }
  @media only screen and (max-width: 600px) {

    .nav__bar--left img{
        width: 70%;
    }
    .features-col2 ,.footer__contain{
        display: block;
    }
    .features-content,.question__col,.footer__col{
        margin-left: auto;
        margin-right: auto;
    }
    .features-content,.question__col {
        width: 100%;
        text-align: center;
    }
    .questions__contain {
        display: block;
        text-align: center;
    }
    .footer__col {
        width: 90%;
        text-align: center;
        min-height: 0;
        padding: 0 20px;
    }
    .footer__contain {
        margin-top: 40px;
    }
    .code-block-black {
        margin-bottom: 20px;
    }
    .features-header {
        font-size: 30px;
    }
    .heading {
        font-size: 43px;
    }

    .title__login,.form__login {
        width: 100%;
    }
    .login__form {
        padding: 0 20px;
        margin: 20px auto;
    }
    .form__login {
        box-shadow: unset;
        max-width: 100%;
    }
    .form__username input,
     .form__password input, 
     .form__submit input,
     .social__facebook a,
     .social h4{
        width: 100%;
    }
    .title__login {
        display: none;
    }

    .chosen-dl {
        display: block;
    }

    .cbb-dl,.button-dl {
        width: 100%;
    }
    .button-dl {
        padding: 9px ;
        margin-top: 10px;
    }
    .card__download {
        border-radius: unset;
    }
    .dl__head h1 {
        font-size: 25px;
    }
    .icon--copy {
        width: 12%;
    }
    .code__block--white {
        width: 85%;
    }
    .menu__modal--popup {
        width: 100%;
        border-radius: unset;
    }


  }
