@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --primary-color : #5E17EB;
    --second--color :#af38a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

html{
    height: 100%;
    overflow: hidden;

  }
body{
    min-height: 100%;
    font-family: "Poppins";
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(175,56,166,1) 60%, rgba(93,9,121,1) 100%, rgba(2,0,36,.5) 100%);
}

.nav__bar {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 16%);
    font-size: 17px;
    
}
.nav__bar--left,.nav__bar--right {
    height: 70px;
    width: 260px;
    display: flex;
}
.nav__bar--left img{
    height: 65px;
    width: auto;
}
.nav__bar--center {
    max-width: 1100px;
}
.nav__bar--center ,.nav__bar--right {
    align-items: center;
    padding-bottom: 2px;
    display: flex;
}

.nav__bar--link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-right: 2rem;
    line-height: 20px;
    margin-top: 6px;
    padding: 5px 0;
    

}
.nav__bar--link.current ,.nav__bar--link:hover{
    border-bottom: 2px solid var(--second--color);
}

.nav__bar--right {
    justify-content: flex-end
}
.nav__bar--link.auth-button {
    padding: 5px 20px;
    border: none;
    border: 2px solid #151429;
    border-radius: 20px;
}
.nav__bar--link.auth-button:hover {
    background-color: #151429;
    color: #fff;
}

.product__hero{
    padding-top: 125px;
    padding-bottom: 150px;
    background-image: linear-gradient(211deg,#f3f3f3,hsla(0,0%,100%,0) 20%);
}
.my__contain {
    display: flex;
    justify-content: space-evenly;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.product__contain--content ,.product__contain--img {
    width: 46%;
}
.heading {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 70px;
}
.description {
    text-align: justify;
    max-width: 85%;
}

h1 {
    font-size: 53px;
    font-weight: 400;
    margin-top: 0;
    letter-spacing: -1.5px;
    color: black;
}
p ,h4,h3,h2,span,label{
    font-family: "Questrial";

}
p {
    font-size: 19px;
    padding-bottom: 20px;
    line-height: 28px;
    font-style: normal;
}

.steps__section {
    margin-top: 35px;
    padding-top: 0;
    padding-bottom: 20px;
    border-top: 40px solid #fff;
    background-color: #f0f4f6;
}


.steps__content--wrap {
    margin-top: -110px;
    padding-top: 0;
}
.steps__header {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
}
h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}


.steps__flex_card {
    height: 470px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fff;
    width: 33.333%;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}



.steps__flex_card--yellow {
    display: flex;
    height: 295px;
    padding-right: 40px;
    padding-left: 40px;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #ffb3dd82;
}

.steps-description {
    font-size: 17px;
    padding-top: 25px;
    padding-right: 40px;
    padding-left: 40px;
}























.card {
    margin: 150px auto;
    width: 350px;
    height: 410px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
}
.card__heart ,.card__coffe {
    position: absolute;
    left:20px;
    font-size: 26px;
    font-weight:bold;
}
.card__heart:hover ,.card__coffe:hover {
    font-size: 30px;
}


.card__heart {
    color:var(--second--color);
}
.card__coffe {
    left: unset;
    right: 20px;
    color:var(--primary-color);
}
.card__img {
    width: 65%;
    margin: auto;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__title ,.card__info {

    text-align: center;
    color:var(--primary-color);
}
.card__title {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;    
}
.card__info {
    font-size: 18px;
}
.card__acition {
    text-align: center;
    margin-top: 10px;
}

.card__acition button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background:var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.card__acition button:hover{
    padding: 10px 10px;
    background: var(--second--color);
}
.card__acition a{
    text-decoration: none;
}




.form__login {
    position: absolute;
    margin:auto;
    width: 450px;
    height: 730px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form__container .card__img {
    width: 50%;
    margin-top:10px
}
.form__container .card__title {
    font-size: 50px;
}
.form__username ,.form__password,.form__submit {
    text-align: center;
    margin-top: 20px;
}
.form__username input ,.form__password input ,
.form__submit input {
    width: 85%;
    height: 40px;
    margin: auto;
    padding:0 10px;
    border: 2px solid #b5b5b5;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;

}
.form__username input:focus ,.form__password input:focus
{
    border: 2px solid var(--primary-color);
}
.form__submit {
    margin-top: 30px;
}
.form__submit input {
    border: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(175,56,166,1) 60%, rgba(93,9,121,1) 100%);
    
}
.form__submit input:hover {
    background: rgb(175,56,166);
}

.form__submit input:active {
    padding-right: 1px;
}
.social {
    text-align: center;
    margin-top: 60px;
}
.social h4 {
    width: 85%; 
    text-align: center; 
    border-bottom: 1px solid rgb(0, 213, 255); 
    line-height: 0.1em;
    margin: auto;
    color: rgb(0, 213, 255);
 } 
 
.social h4 span { 
    background:#fff; 
    padding:0 10px; 
    text-align: center;
 }
 .social__facebook {
    margin-top: 40px;
    text-align: center;

 }
 .social__facebook a{
    background: #0084FF; 
    display: block;
    width: 85%;
    min-height: 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: auto;
    padding-top: 7px;

 }
 .social__facebook a:hover{
    background: #004b92; 

 }

 .social__facebook a:active{
    background: #0066c5; 

 }


 @media only screen and (max-width: 600px) {
     body {
         background: white;
     }
    .form__login {
      width: 100%;
      height: 100%;
      border-radius: unset;
      padding: 0;
      margin: 0;
    }
    .form__container {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);

    }
  }

