{%extends 'dashboard.html'%}{%block title%}API -{%endblock%}

{%block main_body%}

<div class="my__contain ant-card-upgrade" style="margin-top: 200px;gap:20px">
    <span class="card-typography">Gửi thông báo:</span>
    <div style="display:flex;gap:20px;align-items: center;">
        <input type="text" id="myMessage" class="card-input">
        <button id="sendbutton" class="card-btn card-btn-primary">Send</button>
    </div>

</div>
{%endblock%}
{%block scripts%}
<script type="text/javascript">
    $(document).ready(function() {
    
        var socket = io.connect('https://teenote.herokuapp.com/');
    
        socket.on('connect', function() {
            socket.emit("joined",{
                name:"{{current_user.name}}",
                room : "{{current_user.facebook_id}}"
            });
        });
    
        socket.on('change note', function(msg) {
            console.log(msg);
        });

        socket.on('notify', function(msg) {
		    console.log(msg);
	    });


        $('#sendbutton').on('click', function() {
            socket.emit("notify",{
                message:$('#myMessage').val(),
                msg:"notification"
            });
        });
    
    });
    </script>
{%endblock%}
