{%extends 'dashboard.html'%}{%block title%}Get started -{%endblock%}

{%block main_body%}

<div class="card-contain card-primary card-primary-blue">
    <div class="card-body">
        <div class="card-row card-padding24 card-row-space-between">
            <div class="card-col card-col-lg-9">
                <h1 class="card-typography">
                    Download extension
                </h1>
                <div class="card-typography max-w-full w-96">
                    Tee Note is easy to install. Download a single binary with zero run-time dependencies.
                </div>
                <a class="card-btn card-btn-primary card-btn-lg"
                    href="https://github.com/modunn/Hastag-Messenger/releases/download/v1.0/TeeNote.crx"
                    target="_blank" rel="noopener noreferrer">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download for Windows</span>
                </a>
            </div>
            <div class="card-col card-col-lg-1">
                <div class="card-divider card-divider-vertical primary-divider-color h-full">
                </div>
            </div>
            <div class="card-col card-col-lg-13 pt-0.5" style="flex: 0 0 500px;">
                <div class="card-row download-more">
                    <div class="card-col card-col-lg-12">
                        <div class="card-row">
                            <div class="card-col operating-system-icon">
                                <span>
                                    <i class='bx bxl-apple'></i>
                                </span>
                            </div>
                            <div class="card-col operating-system-name">
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">Mac
                                    OS</a>
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">Mac OS
                                    (ARM64)</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-col card-col-lg-12">
                        <div class="card-row">
                            <div class="card-col operating-system-icon">
                                <span>
                                    <i class='bx bxl-windows'></i>
                                </span>
                            </div>
                            <div class="card-col operating-system-name">
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    Windows
                                </a>
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    Windows (32-bit)
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-col card-col-lg-12">
                        <div class="card-row">
                            <div class="card-col operating-system-icon">
                                <span>
                                    <i class='bx bxl-digitalocean'></i>
                                </span>
                            </div>
                            <div class="card-col operating-system-name">
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    Linux
                                </a>
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    Linux (32-bit)
                                </a>
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    Linux (ARM)
                                </a>
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    Linux (ARM64)
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-col card-col-lg-12">
                        <div class="card-row">
                            <div class="card-col operating-system-icon">
                                <span>
                                    <i class='bx bxl-apple'></i>
                                </span>
                            </div>
                            <div class="card-col operating-system-name">
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    FreeBSD
                                </a>
                                <a href="#" class="card-btn card-btn-link card-btn-sm card-btn-block text-left">
                                    FreeBSD (32-bit)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-row card-padding24 ">
    <div class="card-col card-col-24 card-mg-8">
        <div class="card-div card-bordered">
            <div class="card-div-head">
                <div class="card-head-wrapper">
                    <div class="card-head-tittle">
                        1. Unzip to install
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="card-typography">
                    Trên Linux hoặc Mac OS X, bạn có thể giải nén Tee Note từ một thiết bị đầu cuối với lệnh sau.
                    Trên Windows, chỉ cần nhấp đúp vào tee_note.zip để giải nén nó.
                </div>
                <div class="card-typography">
                    <div class="card-code">
                        <span style="margin-right: 7px;color: #af38a6">$</span>
                        <span>unzip /path/to/tee_note.zip</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-col card-col-24 card-mg-8">
        <div class="card-div card-bordered">
            <div class="card-div-head">
                <div class="card-head-wrapper">
                    <div class="card-head-tittle">
                        2. Upload for Google Chrome
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="card-typography">
                    Tệp đuôi .crx tương thích với mọi thiết bị có cài đặt chrome. Bạn chỉ cần mở chế độ nhà phát triển
                    trong phần cài tiện ích rồi kéo thả thư mục đuôi .crx lên trang tiện ích
                </div>
                <div class="card-typography">
                    <div class="card-code">
                        <span style="margin-right: 7px;color: #af38a6">$</span>
                        <span>./tee_note authtoken 21nF6wYCxtmXmNO6kp4agIvM0O4_56h5j5jRTtq6hqPgLH3hd</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-col card-col-24 card-mg-8">
        <div class="card-div card-bordered">
            <div class="card-div-head">
                <div class="card-head-wrapper">
                    <div class="card-head-tittle">
                        3. Connect your messenger
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="card-typography">
                    Sau khi cài đặt thành công, truy cập vào messenger.com để sử dụng. Hoặc nhấp vào tiện ích phía bên
                    trên thanh tabbar của chrome để mở messenger dưới dạng cửa sổ application desktop
                </div>
                <div class="card-typography">
                    <div class="card-code">
                        <span style="margin-right: 7px;color: #af38a6">$</span>
                        <span>./tee_note connect messenger</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-col card-col-24 card-mg-8">
        <div class="card-div card-bordered">
            <div class="card-div-head">
                <div class="card-head-wrapper">
                    <div class="card-head-tittle">
                        4. Fire it up
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="card-typography">
                    Đọc 
                    <a href="#">
                        tài liệu của tôi
                        <i class='bx bx-link-external' ></i>
                    </a>
                    về cách sử dụng tin nhắn ghi chú. Hãy thử nó bằng cách chạy nó từ dòng lệnh:

                </div>
                <div class="card-typography">
                    <div class="card-code">
                        <span style="margin-right: 7px;color: #af38a6">$</span>
                        <span>./tee_note help</span>
                    </div>
                </div>
                <div class="card-typography">
                    Để bắt đầu chuyển tiếp đường hầm HTTP tới cổng cục bộ 80 của bạn, hãy chạy bước này tiếp theo:
                </div>
                <div class="card-typography">
                    <div class="card-code">
                        <span style="margin-right: 7px;color: #af38a6">$</span>
                        <span>./tee_note http 80</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-col card-col-24 card-mg-8">
        <div class="card-div card-bordered">
            <div class="card-div-head">
                <div class="card-head-wrapper">
                    <div class="card-head-tittle">
                        Next, check out some tutorials
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="card-typography">
                    Chúng tôi đã viết các bài hướng dẫn để hướng dẫn bạn thông qua các trường hợp sử dụng phổ biến như phát triển trên chatbot, cài đặt
                    tăng quyền truy cập SSH vào các thiết bị IoT hoặc thử nghiệm trên thiết bị di động.
                </div>
                <a href="#" class="card-btn card-btn-primary"><span>Check Out Tutorials</span></a>
            </div>
        </div>
    </div>
</div>

{%endblock%}