{%extends 'dashboard.html'%}{%block title%}List note -{%endblock%}

{%block main_body%}
<div class="card-row " style="max-width: 80%;margin:30px auto;">
    <div class="card-col card-col-24 card-mg-8 w-full">
        <div class="card-div card-bordered">
            <div class="card-div-head">
                <div class="card-head-wrapper">
                    <div class="card-head-tittle">
                        Tùy chọn bộ lọc
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-grid-2-gap-20">
                    <div class="card-col" style="display: flex;align-items: center;">
                        <button class="card-btn card-btn-primary card-center" id="new-contact-btn">
                            <i class='bx bx-message-alt-add' style="margin-right: 5px;"></i>
                            <span>Thêm liên hệ</span>
                        </button>
                        <div class="new-contact-card">
                        </div>
                    </div>
                    <div>
                        <input placeholder="Tìm kiếm theo tên" id="search-user" class="card-input w-full">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-grid-4-gap-20">
    {% for key in data%}
    <div class="card-col card-bordered" card-data-id="{{key['id']}}">
        <div class="edit-card-hidden">
            <div class="card-edit-contact padding24 grid-2-row-auto">
                <div class="card-edit-contact-top">
                    <div class="card-edit-img">
                        <div class="overlay"></div>
                        <img src="data:image/png;base64, {{key['image']}}" alt="" id="img-contact-{{key['id']}}">
                        <label class="edit-btn">
                            <input type="file" name="upload-avartar-contact" id="edit-avartar-contact-{{key['id']}}"
                                style="display: none;" accept="image/*">
                            <i class='bx bxs-camera'></i>
                        </label>
                    </div>
                    <div class="card-edit-info">
                        <div class="contact-input">
                            <div class="rename-icon">
                                <i class='bx bx-user-circle'></i>
                            </div>
                            <input type="text" class="new-input" placeholder='Tên' value="{{key['name']}}" id="name-{{key['id']}}">
                        </div>
                        <div class="contact-input" style="color:{{key['color']}};" id="bookmarks-{{key['id']}}">
                            <div class="rename-icon">
                                <i class='bx bxs-bookmarks'></i>
                            </div>
                            <input type="text" class="new-input" placeholder='Ghi chú' value="{{key['note']}}" id="note-{{key['id']}}">
                            <button class="card-btn card-btn-input">
                                <i class='bx bx-palette'></i>
                                <input type="color" class="pick-color" title="chọn màu" value="{{key['color']}}" id="color-{{key['id']}}">
                            </button>
                        </div>
                        <div class="contact-input">
                            <div class="rename-icon">
                                <i class='bx bx-location-plus'></i>
                            </div>
                            <input type="text" class="new-input" placeholder='Địa chỉ' value="{{key['address']}}" id="address-{{key['id']}}">
                        </div>
                    </div>
                </div>
                <div class="card-edit-contact-center">
                    <div class="card-edit-info">
                        <div class="contact-input">
                            <div class="rename-icon">
                                <i class='bx bx-phone'></i>
                            </div>
                            <input type="text" class="new-input" placeholder='Số điện thoại' value="{{key['phone']}}" id="phone-{{key['id']}}">
                        </div>
                        <div class="contact-input">
                            <div class="rename-icon">
                                <i class='bx bxl-facebook-square'></i>
                            </div>
                            <input type="text" class="new-input" placeholder='facebook' value="{{key['facebook']}}" id="facebook-{{key['id']}}">
                        </div>
                        <div class="contact-input">
                            <div class="rename-icon">
                                <i class='bx bxs-alarm-snooze'></i>
                            </div>
                            <input type="text" class="new-input" placeholder='Zalo' value="{{key['zalo']}}" id="zalo-{{key['id']}}">
                        </div>
                        <div class="contact-input">
                            <div class="rename-icon">
                                <i class='bx bxl-telegram'></i>
                            </div>
                            <input type="text"  class="new-input" placeholder='Telegram' value="{{key['telegram']}}" id="telegram-{{key['id']}}">
                        </div>
                    </div>
                </div>
                <div class="card-edit-contact-bottom">
                    <button class="card-btn card-btn-primary" edit-id="{{key['id']}}">Lưu chỉnh sửa</button>
                    <button class="card-btn card-btn-default">Quay lại</button>
                    <button class="card-btn card-btn-dangerous absolute-btn" remove-id="{{key['id']}}">Xóa</button>

                </div>
            </div>
        </div>
        <div class="card-contact padding24">
            <div class="card-contact-img card-center card-mg-20">
                <img src="data:image/png;base64, {{key['image']}}" 
                alt="Ảnh đại diện" 
                id="avartar-{{key['id']}}">
            </div>
            <h2 class="card-typography card-name text-nowrap" title="{{key['name']}}">
                <div class="card-color-circle" 
                    style="background-color: {{key['color']}};"
                    id="card-color-circle-{{key['id']}}"></div>
                <span 
                    class="text-nowrap" id="text-name-{{key['id']}}">{{key['name']}}</span>
            </h2>
            <span class="card-typography card-note text-nowrap" 
                title="{{key['note']}}"
                id="text-note-{{key['id']}}">
                {{key['note']}}
            </span>

            <div class="card-col">
                <h2 class="card-typography card-title">
                    Contact
                </h2>
                <div class="card-contact-info">
                    <div class="card-col card-col-lg-24 text-nowrap" title="{{key['address']}}" >
                        <span>Địa chỉ: <strong class="text-nowrap" id="text-address-{{key['id']}}">{{key['address']}}</strong></span>
                    </div>
                    <div class="card-col card-col-lg-24 text-nowrap" title="{{key['phone']}}" >
                        <span>số điện thoại: </span>
                        <span><strong class="text-nowrap" id="text-phone-{{key['id']}}">{{key['phone']}}</strong></span>
                    </div>
                </div>
                <h2 class="card-typography card-title">
                    Social
                </h2>
                <div class="card-contact-social card-center">
                    <a href="{{key['telegram']}}" class="telegram card-center" target="blank"
                        title="{{key['telegram']}}"
                        id="text-telegram-{{key['id']}}">
                        <i class='bx bxl-telegram'></i>
                    </a>
                <a href="{{key['zalo']}}" 
                        class="phone card-center" 
                        target="blank" 
                        title="{{key['zalo']}}" 
                        id="text-zalo-{{key['id']}}">
                        <i class='bx bxs-alarm-snooze'></i>
                    </a>
                    <a href="https://facebook.com/{{key['facebook']}}" 
                        target="blank" 
                        class="facebook card-center"
                        title="{{key['facebook']}}"
                        id="text-facebook-{{key['id']}}">
                        <i class='bx bxl-facebook-square'></i>
                    </a>
                </div>
            </div>
            <div class="card-action">
                <div class="card-col card-col-lg-24 card-padding-r-10">
                    <button class="card-btn card-btn-primary w-full edit-card-btn"
                        id="edit-contact-btn-card-id-{{key['id']}}" data-id="card-id-{{key['id']}}">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

<script src="{{url_for('static',filename='./js/list_note.js')}}"></script>

{%endblock%}