<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static',filename='icon/icon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css')}}">
    <title>{%block title%}{{title}}{%endblock%} Notes Messenger</title>
    {%block head%}
    {%endblock%}
</head>
<body>
    
    {%block body%}


    {%endblock%}

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '212051767801881',
            xfbml: true,
            version: 'v12.0',
            cookie     : true

        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function logout(){
        FB.getLoginStatus(function(response) {
            FB.logout(function(response){

            });
        });
        }
</script>

</body>

</html>