<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static',filename='icon/icon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <meta property=’og:title’ content='TeeNote'/>
    <meta property=’og:image’ content="{{ url_for('static',filename='icon/icon.png')}}"/>
    <meta property=’og:description’ content='Kết nối với messenger quản lí liên hệ một cách dễ dàng'/>
    <meta property=’og:url’ content='https://teenote.herokuapp.com/'/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
    <!-- TYPE BELOW IS PROBABLY: 'website' or 'article' or look on https://ogp.me/#types -->
    <meta property="og:type" content='website'/>
    <title>{%block title%}{{title}}{%endblock%} Tee Note</title>
    {%block head%}
    {%endblock%}
</head>
<body>
    
    {%block body%}


    {%endblock%}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '212051767801881',
      cookie     : true,
      xfbml      : true,
      version    : '269b1d496a13c53269b2de9495d1a81d'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
</script>

</body>

</html>