<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static',filename='icon/icon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <meta property=’og:title’ content='TeeNote'/>
    <meta property=’og:image’ content="{{ url_for('static',filename='icon/icon.png')}}"/>
    <meta property=’og:description’ content='Kết nối với messenger quản lí liên hệ một cách dễ dàng'/>
    <meta property=’og:url’ content='https://teenote.herokuapp.com/'/>
    <meta property='og:image:width' content='1020' />
    <meta property='og:image:height' content='1020' />
    <!-- TYPE BELOW IS PROBABLY: 'website' or 'article' or look on https://ogp.me/#types -->
    <meta property="og:type" content='website'/>
    <title>{%block title%}{{title}}{%endblock%} Tee Note</title>
    {%block head%}
    {%endblock%}
</head>
<body>
    
    {%block body%}


    {%endblock%}

</body>

</html>