<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="static/icon/icon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css')}}">


    <title>Notes Messenger</title>
</head>

<body>
    <div class="card">
        <div class="card__heart">
            <i class='bx bx-heart'></i>
        </div>
        <div class="card__coffe">
            <i class='bx bx-coffee'></i>
        </div>
        <div class="card__img">
            <img src="{{url_for('static',filename='icon/icon.png')}}" alt="">
        </div>
        <div class="card__title">
            Messenger Notes
        </div>
        <div class="card__info">
            Extension giúp thêm ghi chú vào Messenger
        </div>
        <div class="card__acition">
            <a href="https://github.com/modunn/Hastag-Messenger/releases/download/v1.0/NoteMessenger.crx"
                target="blank">
                <button class="card__action--download">
                    Tải xuống
                </button>
            </a>
            <a href="https://join.skype.com/invite/qt6sILS5bDlm" target="blank">
                <button class="card__action--buy-coffe">
                    Buy my coffee
                </button>
            </a>
        </div>
    </div>
</body>

</html>