{% extends 'base.html'%}
{%block body%}


<form method="POST" class="form__login">
    <div class="form__container">
        <div class="card__img">
            <img src="{{url_for('static',filename='icon/icon.png')}}" alt="">
        </div>
        <div class="card__title">
            L O G I N 
        </div>
        <div class="form__username">
            
            <input type="text" name='username' placeholder="email or username">

        </div>
        <div class="form__password">
            
            <input type="password" name='password' placeholder="password">
        </div>
        <div class="form__submit">
            <input type="submit" value="L O G I N">
        </div>
        <div class="social">
            <h4><span>Or</span></h4>
            <div class="social__facebook">
                <a><i class='bx bxl-facebook' ></i>Login with Facebook</a>
            </div>

        </div>
    </div> 
    
</form>
{%endblock%}