{%extends 'index.html'%}

{%block content%}
<div class="product__hero">
    <div class="my__contain">
        <div class="product__contain--content">
            <h1 class="heading">What is Notes?</h1>
            <p class="description">Notes Messenger là một tiện ích của google chrome giúp thêm ghi chú vào messenger
                trong facebook</p>
            <a href="#" class="cta-button"></a>
        </div>
        <div class="product__contain--img">
            <img src="{{url_for('static',filename='icon/product-hero.svg')}}" alt="">
        </div>
    </div>
</div>
<div class="steps__section">
    <div class="steps__content--wrap">
    <h4 class="steps__header">LÀM THẾ NÀO NÓ HOẠT ĐỘNG</h4>
    <div class="my__contain">
        <div class="steps__flex_card">
            <div class="steps__flex_card--yellow">
                <div class="steps-header-wrap"></div>
                <div class="steps-img"></div>
            </div>
            <p class="steps-description">
                Tải xuống và chạy một chương trình trên máy của bạn và cung cấp cho nó cổng của một dịch vụ mạng, thường là một máy chủ web.
            </p>
        </div>
        <div class="steps__flex_card">
            <div class="steps__flex_card--yellow">
                <div class="steps-header-wrap"></div>
                <div class="steps-img"></div>
            </div>
            <p class="steps-description">
                Kết nối với dịch vụ đám mây ngrok chấp nhận lưu lượng truy cập trên một địa chỉ công cộng.
            </p>
        </div>
        <div class="steps__flex_card">
            <div class="steps__flex_card--yellow">
                <div class="steps-header-wrap"></div>
                <div class="steps-img"></div>
            </div>
            <p class="steps-description">
                Lưu lượng truy cập được chuyển tiếp đến quy trình ngrok đang chạy trên máy của bạn và sau đó đến địa chỉ cục bộ mà bạn đã chỉ định.

            </p>
        </div>
    </div>
</div>
</div>
{%endblock%}